@charset "UTF-8";
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ul,
li,
ol,
dl,
dt,
dd,
input,
figure,
figcaption {
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style: none;
}

body {
  font-size: 14px;
  font-family: "微软雅黑";
  color: #666;
}

a {
  text-decoration: none;
  color: #999;
  cursor: pointer;
}

header,
footer,
nav,
section,
aside,
article,
main,
figure,
figcaption {
  display: block;
}

.clear::after {
  content: "";
  display: block;
  clear: both;
}

.w {
  width: 1200px;
  margin: auto;
}

.l {
  float: left;
}

.r {
  float: right;
}

img {
  display: block;
  border: 0;
}

.re {
  position: relative;
}

.ab {
  position: absolute;
}

input {
  outline: none;
}

.f60 {
  color: #f60;
}

.header {
  height: 210px;
  background: url("../resource/imgs/cart_header_bg.png");
}

.shopping_table {
  width: 958px;
  margin: auto;
}
